.threadify {
    display: flex;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 100%;
  }
  @media only screen and (max-width: 700px) {
    .threadify {
      height: 100px;
    }
    .threadify .x {
      margin-right: 30px;
    }
    .threadify .x .char {
      font-size: 70px;
    }
  }
  .x {
    position: relative;
    padding: 25px 10px;
    margin-right: 50px;
    cursor: pointer;
    overflow: visible;
  }
  .char {
    position: absolute;
    top: -50px;
    font-size: 100px;
    color: white;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: filter 0.3s ease, opacity 0.1s ease;
  }
  .x:hover .char.main {
    opacity: 0 !important;
  }
  .x:hover .char.shadow {
    animation-duration: 1s;
    transition: filter 2s ease, opacity 0.1s ease;
  }
  .x:hover .char.shadow {
    filter: blur(15px);
  }
  .char.main {
    z-index: 2;
    /* backdrop-filter: blur(1px); */
  }
  .char.shadow {
    color: #92ff07;
    z-index: 1;
  }
  .float {
    animation-name: floating;
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    25% {
      transform: translate(5px, 10px);
    }
    50% {
      transform: translate(15px, 3px);
    }
    75% {
      transform: translate(-8px, -7px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }