.threadify {
  display: flex;
  justify-content: center;
  position: relative;
  height: 150px;
  width: 100%;
  user-select: none;
}
.x {
  position: relative;
  padding: 25px 10px;
  margin-right: 50px;
  cursor: pointer;
  overflow: visible;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.char {
  position: absolute;
  top: 0;
  font-size: 50px;
  color: red;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: filter 0.3s ease, opacity 0.1s ease;
  user-select: none;
  transform-origin: center;
}
/* .x:hover .char.main {
  opacity: 0 !important;
} */
/* .x:hover .char {
  animation-duration: 8s !important;
} */
/* .x:hover .char.shadow {
  filter: blur(15px);
} */
.char.main {
  z-index: 2;
  /* backdrop-filter: blur(1px); */
}
.char.shadow {
  color: red;
  z-index: 1;
}
.float {
  animation-name: floating;
}
@keyframes floating {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
